<%= content_for :page_head do %>
	<h1 class="title">Editing Investment</h1>
<% end %>

<%= render 'form', investment: @investment do |f| %>
	<%= f.button :submit, class: "button is-primary" %>
	<%= link_to 'Cancel', item_path(@investment.item_id), class: "button is-secondary" %>
<% end %>
