<%= content_for :page_head do %>
	<h1 class="title">Novo investimento</h1>
<% end %>

<div class="compact">
	<%= render 'form', investment: @investment do |f| %>
		<%= f.button :submit, class: "button is-primary" %>
		<%= link_to 'Cancelar',
			params.key?(:asset_id) ? asset_path(params[:asset_id]) : investments_path,
			class: "button" %>
	<% end %>
</div>
