---
http_interactions:
- request:
    method: get
    uri: https://api.cotacoes.uol.com/asset/list?fields=abbreviation,name,id&format=JSON
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Application-Context:
      - application:prod
    body:
      encoding: ASCII-8BIT
      string: '{"prev":null,"next":null,"docs":[{"abbreviation":"ABCB4.SA","name":"ABC
        BRASIL PN","id":18},{"abbreviation":"AGRO3.SA","name":"BRASILAGRO ON","id":32},{"abbreviation":"AHEB3.SA","name":"SPTURIS
        ON","id":33},{"abbreviation":"AHEB6.SA","name":"SPTURIS PNB","id":35},{"abbreviation":"ALPA4.SA","name":"ALPARGATAS
        PN","id":39},{"abbreviation":"ALPA3.SA","name":"ALPARGATAS ON","id":40},{"abbreviation":"AZEV4.SA","name":"AZEVEDO
        PN","id":58},{"abbreviation":"AZEV3.SA","name":"AZEVEDO ON","id":59},{"abbreviation":"BAHI3.SA","name":"BAHEMA
        ON","id":61},{"abbre[...]
