---
http_interactions:
- request:
    method: get
    uri: https://api.cotacoes.uol.com/asset/interday/list/paged?fields=price,high,low,open,volume,close,bid,ask,change,pctChange,date&format=JSON&item=484&size=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Application-Context:
      - application:prod
    body:
      encoding: ASCII-8BIT
      string: '{"prev":null,"next":"1235074N","docs":[{"price":23.8,"high":23.95,"low":23.12,"open":23.17,"volume":75611900,"close":22.89,"bid":23.81,"ask":23.82,"change":0.92,"pctChange":3.98,"date":"20210505000000"},{"price":22.89,"high":23.64,"low":22.88,"open":23.54,"volume":44765000,"close":23.43,"bid":22.89,"ask":22.9,"change":-0.54,"pctChange":-2.3,"date":"20210504000000"},{"price":23.43,"high":23.81,"low":23.3,"open":23.8,"volume":49039900,"close":23.62,"bid":23.44,"ask":23.47,"change":-0.18,"pctChange":-0.8,"date":"20210503000000"}]}'
  recorded_at: Thu, 06 May 2021 21:40:49 GMT
recorded_with: VCR 6.0.0
