---
http_interactions:
- request:
    method: get
    uri: https://api.cotacoes.uol.com/asset/interday/list/paged?fields=price,high,low,open,volume,close,bid,ask,change,pctChange,date&format=JSON&item=484&size=29
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Application-Context:
      - application:prod
    body:
      encoding: ASCII-8BIT
      string: '{"prev":null,"next":"1203160N","docs":[{"price":23.75,"high":24.29,"low":23.42,"open":24.12,"volume":49775900,"close":23.94,"bid":23.74,"ask":23.75,"change":-0.2,"pctChange":-0.79,"date":"20210429000000"},{"price":23.98,"high":24.09,"low":23.36,"open":23.4,"volume":66374200,"close":23.1,"bid":23.96,"ask":23.98,"change":0.86,"pctChange":3.81,"date":"20210428000000"},{"price":23.16,"high":24.17,"low":23.1,"open":23.82,"volume":76684900,"close":23.78,"bid":23.14,"ask":23.16,"change":-0.64,"pctChange":-2.61,"date":"20210427000000"},{"price":23.75,"high":24.05,"low":23.61,"open":23.85,"volume":33281000,"close":23.69,"bid":23.75,"ask":23.76,"change":0.06,"pctChange":0.25,"date":"20210[...]
