<div class="is-flex is-align-items-center is-flex-direction-column">
	<%= image_tag '/assets/images/thinking.png',
    class: "image is-square p-0",
    width: "312" %>
	<p class="has-text-centered"><%= message %></p>
</div>
