<div class="is-flex is-align-items-center is-flex-direction-column">
	<div class="block">
		<%= image_pack_tag 'thinking.png',
			class: "image is-square p-0",
			width: "312" %>
	</div>
	<p class="has-text-centered"><%= message %></p>
</div>
