<nav class="navbar custom-background" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<%= image_pack_tag "logo-transparent.png" %>
		</a>
		<div class="navbar-burger" data-target="public-navbar__content">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="public-navbar__content" class="navbar-menu">
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="field is-grouped">
					<p class="control">
						<%= link_to "Sign in", new_user_session_path, class: "is-link" %>
					</p>
					<p class="control">
						<%= link_to "Register", new_user_registration_path, class: "is-link" %>
					</p>
				</div>
			</div>
		</div>
	</div>
</nav>
