<nav class="navbar navbar-expand-lg navbar-light bg-transparent border-bottom">
	<div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
		<a class="navbar-brand" href="/">
			<strong class="font-italic">VESP</strong>
		</a>
	</div>
</nav>
