<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p><strong>Hello, <%= @user.username %></h1>
		</p>
		<p>
			Here is your portfolio report for this week.<br/>
			You can view this and other reports on our reports page. Just follow this link:
			<%= link_to 'Reports', reports_url %>
		</p>
	</body>
</html>
