<%= content_for :content do %>
	<%= render 'partials/public_header' %>
	<div class="landing-backdrop custom-background">
		<div class="landing-content">
			<h1 class="title mb-6">Welcome to the ultimate investments tracker!</h1>
			<h2 class="subtitle">Track the valuation of your investments day by day</h2>
			<h2 class="subtitle">Receive periodically performance reports</h2>
			<h2 class="subtitle">Follow the prices of the main assets on the stock exchange</h2>
			<div class="is-flex is-justify-content-center is-align-items-center">
				<%= link_to 'Sign in', new_user_session_path, class: 'button is-ghost' %>
				<span class="mx-5">or</span>
				<%= link_to 'Register now', new_user_registration_path, class: 'button is-ghost' %>
			</div>
		</div>
	</div>
<% end %>
