<%= content_for :content do %>
	<%= render 'partials/public_navbar' %>
	<div class="landing-backdrop">
		<div class="landing-content">
			<h1 class="title mb-6">Welcome to the ultimate investments tracker!</h1>
			<h2 class="subtitle">Track the valuation of your investments day by day</h2>
			<h2 class="subtitle">Receive weekly performance reports</h2>
			<h2 class="subtitle">Follow the prices of the main assets on the stock exchange</h2>
		</div>
	</div>
<% end %>
