<%= content_for :public do %>
	<div class="landing-content">
		<h1 class="title mb-6">Bem-vindo ao seu gerenciador de investimentos!</h1>
		<h2 class="subtitle">Acompanhe a valorização de seus investimentos dia-a-dia.</h2>
		<h2 class="subtitle">Receba relatórios de performance periodicamente.</h2>
		<h2 class="subtitle">Matenha atualizado dos preços dos principais ativos da bolsa.</h2>
		<div class="is-flex is-justify-content-center is-align-items-center">
			<%= link_to 'Entrar', new_user_session_path, class: 'button is-primary is-rounded' %>
			<span class="mx-5">ou</span>
			<%= link_to 'Registrar agora', new_user_registration_path, class: 'button is-primary is-rounded' %>
		</div>
	</div>
<% end %>
