@import "bulma/css/bulma.css";
@import "public.scss";

main#root {
	min-height: 100vh;
}

.form-group > label {
	display: block;
}

.up-arrow::after {
	content: "\21E1";
}

.down-arrow::after {
	content: "\21E3";
}

#asset_dropdown::after {
	display: none;
}

#explore_form #asset_dropdown_input {
	font-size: 2rem;
	padding-left: 0;
	padding-right: 0;
}
