.signin-form,
.signup-form {
	width: 100%;
	max-width: 360px;
	padding: 8px;
	margin: auto;
}

.landing-backdrop {
	z-index: -1;
	min-height: 100vh;
	background-image: url("../images/undraw_Dashboard_re_3b76.svg");
	background-size: 50% auto;
	background-repeat: no-repeat;
	background-position: right center;
	display: flex;
	align-items: center;
}

.landing-content {
	width: 100%;
	max-width: 550px;
	box-sizing: border-box;
	padding: 8px;
	text-align: center;
	color: #fff;
}

.is-full-height {
	min-height: 100vh;
}
