<%= form.input :password,
  input_html: { autocomplete: "new-password" } %>

<%= form.input :password_confirmation,
  input_html: { autocomplete: "new-password" } %>

<%= form.input :current_password,
  input_html: { autocomplete: "current-password" },
  hint: "We need your current password to confirm your changes" %>

<div class="field">
	<%= form.button :submit, class: "button is-primary" %>
</div>
