<%= render "partials/flash_messages" %>

<h1 class="title">Reports</h1>

<% if @reports.any? %>
	<%= render 'reports_table' %>
<% else %>
	<%= render partial: "partials/no_content", locals: { message: "Sorry. You have no reports yet."} %>
<% end %>
