<% content_for :content do %>
	<div class="container-fluid d-flex align-items-center vh-100 bg-light">
		<div class="w-50">
			<div class="text-center">
				<%= image_tag '/assets/images/logo_transparent.png', class: "img-fluid" %>
			</div>
		</div>
		<div class="w-50">
			<%= yield %>
		</div>
	</div>
<% end %>

<%= render template: "layouts/application" %>
