<%= content_for :content do %>
	<div class="landing-backdrop custom-background">
		<div class="landing-wrapper">
			<%= render 'partials/public_header' %>
			<%= yield :public %>
		</div>
	</div>
<% end %>

<%= render template: "layouts/application" %>
