<%= content_for :content do %>
	<div class="landing-backdrop custom-background">
		<div class="landing-wrapper">
			<%= render 'partials/public_header' %>
			<%= yield :public %>
		</div>
		<small class="backdrop-credit">
			<a target="_blank" href="https://br.freepik.com/vetores/fundo">Fundo vetor criado por pikisuperstar - br.freepik.com</a>
		</small>
	</div>
<% end %>

<%= render template: "layouts/application" %>
